@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'National';
      src: url(/fonts/National2Compressed-Extrabold.woff2) format('woff2');
   }
   body {
      @apply text-black dark:text-white transition-[color] duration-700 ease-in overflow-x-hidden;
   }
   html::-webkit-scrollbar {
      width: 10px;
   }
   html::-webkit-scrollbar-thumb {
      background-color: #000000;
      border-radius: 10px;
   }
   html::-webkit-scrollbar-track {
      background-color: #365353;
   }
}

@layer utilities {
   #background {
      @apply bg-primary h-screen w-full fixed inset-0 -z-10;
      transition: clip-path 400ms ease-in;
   }
   html nav {
      margin-top: -10px;
      animation: show-light-navbar forwards, hide-light-navbar forwards;
      animation-timeline: scroll(), scroll();
      animation-range: 0px 500px, 75% 89%;
   }
   @keyframes show-light-navbar {
      to {
         margin-top: 0px;
         backdrop-filter: blur(3px);
         background-color: rgba(217, 217, 217, 0.061);
         box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.175);
      }
   }
   @keyframes hide-light-navbar {
      to {
         opacity: 0;
         pointer-events: none;
      }
   }

   html.dark nav {
      margin-top: -10px;
      animation: show-dark-navbar forwards, hide-dark-navbar forwards;
      animation-timeline: scroll(), scroll();
      animation-range: 0px 500px, 75% 89%;
   }
   @keyframes show-dark-navbar {
      to {
         margin-top: 0px;
         background-color: black;
      }
   }
   @keyframes hide-dark-navbar {
      to {
         opacity: 0;
         pointer-events: none;
      }
   }

   #fixed-circle {
      animation: hide-circle forwards;
      animation-timeline: scroll();
      animation-range: 75% 89%;
   }
   @keyframes hide-circle {
      to {
         opacity: 0;
         pointer-events: none;
      }
   }
}
